{% extends 'base.html' %}

{% block content %}
<div style="align-items: center;"><img src="static/images/new_log.png"  style="width:250px"></div>
<div class="container mt-5">
  <div class="card" style="align-items: center;">
    <img src="{{ url_for('static', filename='uploads/' ~ property.main_image) }}" style="width:600px"class="card-img-top img-fluid" alt="Imagen Principal">
    <div class="card-body">
      <h2 class="card-title">{{ property.title }}</h2>
      <p class="card-text">{{ property.description }}</p>
      <div class="row">
        <div class="col-md-6">
          <p><strong>Precio:</strong> ${{ property.price }}</p>
          <p><strong>Tipo:</strong> {{ property.type }}</p>
        </div>
        <div class="col-md-6">
          </div>
      </div>
      {% if property.additional_images %}

      <div class="row">
        {% for image in property.additional_images %}
        <div class="col-md-4">
          <img src="{{ url_for('static', filename='uploads/' ~ image.image_url) }}" class="img-fluid mb-2" alt="Imagen Adicional">
        </div>
        {% endfor %}
      </div>
      <div class="row-cols-1">
        <a class="nav-link" style="width: 100%;color:black"href="{{ url_for('contactanos_withid', id=property.id)}}">
        <button class="btn btn-primary">! Contacta al corredor !</button> 
      </div>
      
    </div>
  </div>
</div>


{% endif %}
{% endblock %}
